<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <title>Jannik Portz</title>
</head>

<body>
  <header>
    <h1>
      jannikportz.de 🔥
    </h1>
  </header>
  <main>
    <section>
      <h3>🌴</h3>
      <ul class="row">
        <li class="col-12 col-sm-4">Facebook</li>
        <li class="col-12 col-sm-4">Instagram</li>
        <li class="col-12 col-sm-4">Twitter</li>
      </ul>
    </section>
  </main>
  <footer>Foo bar</footer>
</body>
</html>
