$project-variant: (
  wordpress: #278ea5,
  shortcode: #db2d43,
  generator: #e76838,
  classbound: #9267cc
);

.list-projects {
  @extend .list-unstyled;
  display: block;
}

@mixin make-project-variant($color-base) {
  border-top-color: $color-base;
  border-bottom-color: $color-base;

  .col-details {
    background-color: $color-base;
  }

  .col-content {
    h3,
    h3 a {
      color: $color-base;
    }
  }
}

.project-item {
  margin: 2rem 0;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  display: block;

  .project-links {
    @extend .list-unstyled;
    flex: 0;
    justify-self: flex-end;
    margin-bottom: 1rem;

    li {
      font-size: 80%;
      margin-top: 0.2rem;

      a {
        color: #fff;
      }
    }
  }

  .col-details {
    @extend .col-12, .col-lg-4;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 1rem;
    padding-bottom: 1rem;

    dl {
      margin-bottom: -2rem;

      dd {
        margin-bottom: 2rem;
      }
    }
  }

  .col-content {
    @extend .col-12, .col-lg-8;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h3 {
      flex: 0;
      line-height: 150%;
    }

    .description {
      flex: 1;
      margin-bottom: 1rem;

      dl,
      dd:last-child {
        margin-bottom: 0;
      }
    }
  }

  &.wp-opening-hours {
    @include make-project-variant(map-get($project-variant, wordpress));
  }

  &.opening-hours-shortcode-builder {
    @include make-project-variant(map-get($project-variant, shortcode));
  }

  &.p5-webpack-generator {
    @include make-project-variant(map-get($project-variant, generator));
  }

  &.class-bound-components {
    @include make-project-variant(map-get($project-variant, classbound));
  }
}

@media (min-width: map-get($map: $grid-breakpoints, $key: sm)) {
  .project-item {
    .col-content,
    .col-details {
      padding: 2rem;
    }
  }

  .image-code-sample {
    border-radius: 1rem;
  }
}

@media (min-width: map-get($map: $grid-breakpoints, $key: lg)) {
  .project-item {
    margin: 10rem 0;

    &:first-child {
      margin-top: 5rem;
    }

    &:nth-child(odd) {
      .col-details {
        order: 0;
      }

      .col-content {
        order: 1;
      }
    }
  }
}

.image-code-sample {
  width: calc(100% + 30px);
  height: auto;
  border: 1px solid #efefef;
  margin: 0 -15px;
}

@media not all and (prefers-color-scheme: light) {
  .embedded-gist .gist {
    .highlight,
    .gist-meta,
    .gist-meta a {
      background: #111;
      color: #fff;
    }

    .gist-file {
      border-color: #333 #333 #333;
    }

    .gist-data {
      border-bottom-color: #333;
    }

    .blob-num {
      color: rgba(#fff, 0.75);
    }

    .pl-smi,
    .pl-s1,
    .pl-kos,
    .blob-code-inner,
    .pl-s,
    .pl-en {
      color: #efefef;
    }

    .pl-c1 {
      color: #d0a4ff;
    }
  }
}
