.list-projects {
  @extend .list-unstyled;
  display: block;
}

@mixin make-project-variant(
  $color-base,
) {
  border-top-color: $color-base;
  border-bottom-color: $color-base;

  .col-details {
    background-color: $color-base;
  }

  .col-content {
    h3 {
      color: $color-base;
    }
  }
}

.project-item {
  margin: 2rem 0;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  display: block;
  
  .project-links {
    @extend .list-unstyled;
    flex: 0;
    justify-self: flex-end;
    margin-bottom: 1rem;

    li {
      @extend .small;
      margin-top: 0.2rem;
    }
  }

  .col-details {
    @extend .col-12, .col-lg-4;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 1rem;
    padding-bottom: 1rem;

    dl {
      margin-bottom: -2rem;
      
      dd {
        margin-bottom: 2rem;
      }
    }
  }

  .col-content {
    @extend .col-12, .col-lg-8;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h3 {
      flex: 0;
    }

    .description {
      flex: 1;
      margin-bottom: 1rem;

      dl,
      dd:last-child {
        margin-bottom: 0;
      }
    }
  }

  &.wp-opening-hours {
    @include make-project-variant(map-get($map: $social-media-colors, $key: twitter));
  }

  &.opening-hours-shortcode-builder {
    @include make-project-variant(map-get($map: $social-media-colors, $key: instagram));
  }

  &.p5-webpack-generator {
    @include make-project-variant(map-get($map: $social-media-colors, $key: github-pages));
  }
}

@media (min-width: map-get($map: $grid-breakpoints, $key: sm)) {
  .project-item {
    .col-content, .col-details {
      padding: 2rem;
    }
  }
}

@media (min-width: map-get($map: $grid-breakpoints, $key: lg)) {
  .project-item {
    &:nth-child(odd) {
      .col-details {
        order: 0;
      }
      
      .col-content {
        order: 1;
      }
    }
  }
}
