$font-family-sans-serif: "SF Mono", "Open Sans", Arial, Helvetica, sans-serif;
$font-family-base: $font-family-sans-serif;

$font-weight-semi-bold: 600;
$font-weight-base: $font-weight-semi-bold;

$brand-primary: #007456;
$brand-green: #007456;
$brand-yellow: #eab60c;
$brand-gray-light: #8f9da4;

$brand-yellow-light: #fffada;
$brand-yellow-dark: #f5d25f;

$background-gradient: linear-gradient(to bottom, $brand-yellow-light, $brand-yellow-dark);
