$font-family-sans-serif: Menlo, Hack, "SF Mono", monospace;
$font-family-base: $font-family-sans-serif;

$font-weight-semi-bold: 600;
$font-weight-base: $font-weight-semi-bold;

$brand-primary: #007456;
$brand-green: #007456;
$brand-yellow: #eab60c;
$brand-gray-light: #8f9da4;

$brand-yellow-light: #fffada;
$brand-yellow-dark: #f5d25f;

$background-gradient: linear-gradient(to bottom, $brand-yellow-light, $brand-yellow-dark);

$brand-red: #d54e21;

$font-weight-base: 500;
$font-weight-semi-bold: 600;

$social-media-colors: (
  facebook: #3b5998,
  twitter: #1da1f2,
  instagram: #c32aa3,
  linkedin: #007bb5,
  soundcloud: #ff5500,
  xing: #026466,
  mixcloud: #52aad8,
  discogs: #f5df2e,
  apple-music: #c482df,
  github: #4078c0,
  github-pages: #6cc644,
  wordpress: #d54e21,
);
