@import "variables";

@import "~bootstrap/scss/bootstrap";

@import "fonts";
@import "mixins";

@import "nav";
@import "vita";
@import "profiles";

body {
  background-color: #111111;
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

a[href] {
  color: #ffffff;
}

.nowrap {
  white-space: nowrap;
}

.text-gray {
  color: #999;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  margin: 2rem 0;
}

h3 {
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

header, footer {
  flex: 0;
}

header {
  margin: 5rem 1rem;
}

footer {
  background-color: #222;
  text-align: right;
  padding: 2rem 0;
}

hr {
  border: none;
  border-top: 2px solid #222;
  margin: 3rem 0;
}

main {
  @extend .container;

  flex: 1;
}

@media (max-width: map-get($map: $grid-breakpoints, $key: sm)) {
  h1 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  h3 {
    font-size: 1rem;
  }
  
  header {
    margin-bottom: 2rem;
  }
}
