@import "variables";

@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/bootstrap-grid";

@import "fonts";
@import "mixins";

@import "nav";
@import "vita";
@import "profiles";
@import "projects";

:root {
  --color-background: #111;
  --color-background-footer: #222;
  --color-type-primary: #fff;
  --color-type-secondary: #666;
  --color-type-tertiary: #999;
}

// The dark theme is considered the default
@media (prefers-color-scheme: light) {
  :root {
    --color-background: #fcfcfc;
    --color-background-footer: #ddd;
    --color-type-primary: #333;
    --color-type-secondary: #666;
    --color-type-tertiary: #999;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-type-primary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

a[href] {
  color: var(--color-type-primary);
}

.nowrap {
  white-space: nowrap;
}

.text-gray {
  color: var(--color-type-secondary);
}

.emoji {
  font-family: sans-serif;
}

.nowrap {
  white-space: nowrap;
}

.list-unstyled {
  padding: 0;
  list-style: none;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  margin: 2rem 0;
}

h3 {
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

h4 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-semi-bold;
}

header,
footer {
  flex: 0;
}

header {
  margin: 5rem 1rem;
}

footer {
  background-color: var(--color-background-footer);
  text-align: right;
  padding: 2rem 0;
}

hr {
  border: none;
  margin: 7rem 0;
}

main {
  flex: 1;
}

@media (max-width: map-get($map: $grid-breakpoints, $key: sm)) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  header {
    margin-bottom: 2rem;
  }
}
