<section>
  <div class="container">
    <h2><a name="music">Music</a></h2>
  </div>
  <ul class="list-unstyled list-projects">
    <li class="project-item breakfast-radio-autumn">
      <article class="container">
        <div class="row">
          <div class="col-content">
            <h3>
              <a
                href="https://soundcloud.com/janizde/breakfast-radio-autumn?si=e8f8ff8d76db4da7a324bef5c07f292d&utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing"
                target="_blank"
                >Jannik's Breakfast Radio (Autumn Edition)</a
              >
            </h3>
            <iframe
              width="100%"
              height="200"
              scrolling="no"
              frameborder="no"
              allow="autoplay"
              src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1622393094&color=%23ff5500&auto_play=false&hide_related=true&show_comments=true&show_user=true&show_reposts=false&show_teaser=false&visual=true"
            ></iframe>
            <div
              style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"
            >
              <a
                href="https://soundcloud.com/janizde"
                title="janizde"
                target="_blank"
                style="color: #cccccc; text-decoration: none;"
                >janizde</a
              >
              ·
              <a
                href="https://soundcloud.com/janizde/breakfast-radio-autumn"
                title="Jannik&#x27;s Breakfast Radio (Autumn Edition)"
                target="_blank"
                style="color: #cccccc; text-decoration: none;"
                >Jannik&#x27;s Breakfast Radio (Autumn Edition)</a
              >
            </div>
          </div>
          <div class="col-details">
            <p>
              Breakfast recording of 14.09.2023 with music by Deepchord, Toki Fuko, Ursula Rucker, Jimi Tenor, Takeshi
              Fukushima, Kelly Polar Quartet, Robert Owens, Norken, Lawrence
            </p>
            <ul class="project-links">
              <li>
                <a
                  href="https://soundcloud.com/janizde/breakfast-radio-autumn?si=e8f8ff8d76db4da7a324bef5c07f292d&utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing"
                  target="_blank"
                  >SoundCloud</a
                >
              </li>
            </ul>
          </div>
        </div>
      </article>
    </li>
    <li class="project-item breakfast-radio-summer">
      <article class="container">
        <div class="row">
          <div class="col-content">
            <h3>
              <a
                href="https://soundcloud.com/janizde/janniks-breakfast-radio?si=cd1d8fa55cdd4dc094748ab1e8ae2438&utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing/"
                target="_blank"
                >Jannik's Breakfast Radio (Summer Edition)</a
              >
            </h3>
            <iframe
              width="100%"
              height="200"
              scrolling="no"
              frameborder="no"
              allow="autoplay"
              src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1581109351&color=%23ff5500&auto_play=false&hide_related=true&show_comments=true&show_user=true&show_reposts=false&show_teaser=false&visual=true"
            ></iframe>
            <div
              style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"
            >
              <a
                href="https://soundcloud.com/janizde"
                title="janizde"
                target="_blank"
                style="color: #cccccc; text-decoration: none;"
                >janizde</a
              >
              ·
              <a
                href="https://soundcloud.com/janizde/janniks-breakfast-radio"
                title="Jannik&#x27;s Breakfast Radio"
                target="_blank"
                style="color: #cccccc; text-decoration: none;"
                >Jannik&#x27;s Breakfast Radio</a
              >
            </div>
          </div>
          <div class="col-details">
            <p>
              Casual breakfast session recorded at SoundCloud HQ 09:00–12:00.
            </p>
            <ul class="project-links">
              <li>
                <a
                  href="https://soundcloud.com/janizde/janniks-breakfast-radio?si=cd1d8fa55cdd4dc094748ab1e8ae2438&utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing/"
                  target="_blank"
                  >SoundCloud</a
                >
              </li>
            </ul>
          </div>
        </div>
      </article>
    </li>
  </ul>
</section>
