<nav>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-md-8">
        <ul class="list-unstyled list-navigation row">
          <li class="col-4">
            <a href="#cv" title="Curriculum Vitae">CV</a>
          </li>
          <li class="col-4">
            <a href="#projects" title="Projects">Projects</a>
          </li>
          <li class="col-4">
            <a href="#profiles" title="Profiles">Profiles</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
