<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-xl-8">
    <h2>Curriculum Vitae</h2>
    <div class="row">
      <div class="col-12 col-md-6">
        <h3>👨‍🏫 Education</h3>
        <div class="vita-card">
          <span class="vita-card-time">2017 – present</span>
          <p>
            Beuth Hochschule für Technik<br />
            Berlin (D)
          </p>
          <p>
            Media Informatics<br />
            <small>Master of Science</small>
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <h3>🏢 Occupation</h3>
        <div class="vita-card">
          <span class="vita-card-time">2016 – present</span>
          <p>
            HQ plus GmbH<br />
            Berlin (D)
          </p>
          <p>
            Web Application Developer<br />
            <small>React, Redux, D3.js, TypeScript</small>
          </p>
        </div>
      </div>
    </div>
    <div class="vita-more" id="vita-button-more">
      <span class="toggle-icon">👇</span>
      <span class="more-label collapsed">Past</span>
      <span class="more-label expanded">TL;DR</span>
    </div>
    <div class="row hidden" id="vita-past">
      <div class="col-12 col-md-6">
        <div class="vita-card">
          <span class="vita-card-time">2014 – 2017</span>
          <p>
            Beuth Hochschule für Technik<br />
            Berlin (D)
          </p>
          <p>
            Media Informatics<br />
            <small>Bachelor of Science</small>
          </p>
        </div>
        <div class="vita-card">
          <span class="vita-card-time">2006 – 2014</span>
          <p>
            Max-von-Laue Gymnasium<br />
            Coblence (D)
          </p>
          <p>
            Abitur<br />
            <small>Maths, Physics, English</small>
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="vita-card">
          <span class="vita-card-time">2014 – 2016</span>
          <p>
            disponio GmbH<br />
            Berlin (D)
          </p>
          <p>
            Website Developer<br />
            <small>
              WordPress Theme and Plugin Development, angular.js, Zend Framework
            </small>
          </p>
        </div>
        <div class="vita-card">
          <span class="vita-card-time">2012 – 2014</span>
          <p>
            conlabz GmbH<br />
            Coblence (D)
          </p>
          <p>
            Website Developer<br />
            <small>WordPress Theme and Plugin Development</small>
          </p>
        </div>
        <div class="vita-card">
          <span class="vita-card-time">2009 – 2014</span>
          <p>
            FEUEFERADEN Kommunikations-Design<br />
            Coblence (D)
          </p>
          <p>
            Website Developer<br />
            <small>WordPress Theme and Plugin Development</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
