<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-xl-8">
      <h2>Vita</h2>
      <section class="row">
        <div class="col-12 col-md-6">
          <h3>👨‍🏫 Education</h3>
          <p>
            Beuth Hochschule für Technik<br />
            Berlin (D)
          </p>
          <p>
            Media Informatics<br />
            <small>Master of Science</small>
          </p>
        </div>
        <div class="col-12 col-md-6">
          <h3>🏢 Occupation</h3>
          <p>
            HQ plus GmbH<br />
            Berlin (D)
          </p>
          <p>
            Web Application Developer<br />
            <small>React, Redux, D3.js, TypeScript</small>
          </p>
        </div>
      </section>
      <div class="vita-more">👇 Earlier</div>
  </div>
</div>
