<h2>Profiles</h2>
<section>
  <h3>🌴 📷 Social Media</h3>
  <ul class="row list-unstyled">
    <li class="col-12 col-md-4">
      <a href="https://www.facebook.com/janizde" target="_blank" class="button-external-profile facebook">
        Facebook
        <span class="handle">Jannik Portz</span>
      </a>
    </li>
    <li class="col-12 col-md-4">
      <a href="https://twitter.com/janizde" target="_blank" class="button-external-profile twitter">
        Twitter
        <span class="handle">@janizde</span>
      </a>
    </li>
    <li class="col-12 col-md-4">
      <a href="https://www.instagram.com/janizde" target="_blank" class="button-external-profile instagram">
        Instagram
        <span class="handle">@janizde</span>
      </a>
    </li>
  </ul>
</section>
<section>
  <h3>💻 👽 Development</h3>
  <ul class="row list-unstyled">
    <li class="col-12 col-md-6 col-lg-4">
      <a href="https://github.com/janizde" target="_blank" class="button-external-profile github">
        GitHub
        <span class="handle">@janizde</span>
      </a>
    </li>
    <li class="col-12 col-md-6 col-lg-4">
      <a href="https://janizde.github.io" target="_blank" class="button-external-profile github-pages">
        GitHub Pages
        <span class="handle">janizde.github.io</span>
      </a>
    </li>
    <li class="col-12 col-md-12 col-lg-4">
      <a href="https://github.com/janizde" target="_blank" class="button-external-profile wordpress">
        WordPress.org
        <span class="handle">@janizde</span>
      </a>
    </li>
  </ul>
</section>
<section>
  <h3>🎺 👨‍🎤 Music</h3>
  <ul class="row list-unstyled">
    <li class="col-12 col-md-6 col-lg-3">
      <a href="https://soundcloud.com/janizde" target="_blank" class="button-external-profile soundcloud">
        Soundcloud
        <span class="handle">@janizde</span>
      </a>
    </li>
    <li class="col-12 col-md-6 col-lg-3">
      <a href="https://www.mixcloud.com/jannikportz/" target="_blank" class="button-external-profile mixcloud">
        Mixcloud
        <span class="handle">@janizde</span>
      </a>
    </li>
    <li class="col-12 col-md-6 col-lg-3">
      <a href="https://www.discogs.com/user/janizde" target="_blank" class="button-external-profile discogs">
        Discogs
        <span class="handle">@janizde</span>
      </a>
    </li>
    <li class="col-12 col-md-6 col-lg-3">
      <a href="https://itunes.apple.com/profile/janizde" class="button-external-profile apple-music">
         Music
        <span class="handle">@janizde</span>
      </a>
    </li>
  </ul>
</section>
<section>
  <h3>💼 🥂 .biz</h3>
  <ul class="row list-unstyled">
    <li class="col-12 col-md-6">
      <a href="https://www.linkedin.com/in/jannik-portz-049711a9/" target="_blank" class="button-external-profile linkedin">
        LinkedIn
        <span class="handle">Jannik Portz</span>
      </a>
    </li>
    <li class="col-12 col-md-6">
      <a href="https://www.xing.com/profile/Jannik_Portz/cv" target="_blank" class="button-external-profile xing">
        XING
        <span class="handle">Jannik Portz</span>
      </a>
    </li>
  </ul>
</section>
