<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Person",
    "name": "Jannik Portz",
    "url": "https://www.jannikportz.de",
    "image": "https://www.jannikportz.de/assets/images/jannik-portz-portrait.png",
    "jobTitle": "Web Application Developer",
    "birthDate": "1995",
    "familyName": "Portz",
    "givenName": "Jannik",
    "knowsLanguage": [
      "de",
      "en"
    ],
    "worksFor": {
      "@type": "Organization",
      "name": "HQ plus GmbH",
      "url": "https://www.hqrevenue.com"
    },
    "alumniOf": {
      "@type": "EducationalOrganization",
      "name": "Beuth Hochschule für Technik Berlin",
      "url": "https://beuth-hochschule.de"
    },
    "address": {
      "@type": "Place",
      "name": "Berlin",
      "smokingAllowed": true,
      "address": {
        "@type": "PostalAddress",
        "addressCountry": "DE",
        "addressRegion": "Berlin",
        "addressLocality": "Berlin",
        "postalCode": "13351"
      }
    },
  }
</script>