<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Person",
    "name": "Jannik Portz",
    "url": "https://www.jannikportz.de",
    "image": "https://www.jannikportz.de/assets/images/jannik-portz-portrait.png",
    "jobTitle": "Web Engineer",
    "birthDate": "1995",
    "familyName": "Portz",
    "givenName": "Jannik",
    "knowsLanguage": [
      "de",
      "en"
    ],
    "worksFor": {
      "@type": "Organization",
      "name": "SoundCloud Ltd.",
      "url": "https://soundcloud.com"
    },
    "alumniOf": {
      "@type": "EducationalOrganization",
      "name": "Beuth Hochschule für Technik Berlin",
      "url": "https://beuth-hochschule.de"
    },
    "address": {
      "@type": "PostalAddress",
      "addressCountry": "DE",
      "addressRegion": "Berlin",
      "addressLocality": "Berlin",
      "postalCode": "13351"
    }
  }
</script>