<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-xl-8">
      <h2><a name="cv">CV</a></h2>
      <div class="row">
        <div class="col-12">
          <div class="vita-card">
            <span class="vita-card-time">since 2025</span>
            <p>
              <strong><a href="https://soundcloud.com" target="_blank">SoundCloud Global Limited & Co. KG</a></strong
              ><br />
              Berlin (D)
            </p>
            <p>
              Principal Software Engineer
            </p>
          </div>
        </div>
      </div>
      <button class="vita-more" id="vita-button-more" title="View more" aria-owns="vita-past">
        <span class="toggle-icon">👇</span>
        <span class="more-label collapsed">Past</span>
        <span class="more-label expanded">TL;DR</span>
      </button>
      <div class="row hidden" id="vita-past">
        <div class="col-12">
          <div class="vita-card">
            <span class="vita-card-time">2019 – 2025</span>
            <p>
              <strong><a href="https://soundcloud.com" target="_blank">SoundCloud Global Limited & Co. KG</a></strong
              ><br />
              Berlin (D)
            </p>
            <p>
              Software Engineer
            </p>
          </div>
          <div class="vita-card">
            <span class="vita-card-time">2016 – 2019</span>
            <p>
              <strong><a href="https://www.hqrevenue.com" target="_blank">HQ plus GmbH</a></strong
              ><br />
              Berlin (D)
            </p>
            <p>
              Web Application Developer<br />
              <small>
                Frontend Department<br />
                <span class="text-gray">-----</span><br />
                React, Redux, D3.js, TypeScript, express
              </small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
