<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-xl-8">
    <h2><a name="cv">CV</a></h2>
    <div class="row">
      <div class="col-12 col-md-6">
        <h3>👨‍🏫 Education</h3>
        <div class="vita-card">
          <span class="vita-card-time">2017 – present</span>
          <p>
            <a href="https://beuth-hochschule.de" target="_blank">Beuth University of Applied Sciences</a><br />
            Berlin (D)
          </p>
          <p>
            Media Informatics<br />
            <small>
              Master of Science<br />
              <span class="text-gray">-----</span><br />
              <span class="nowrap">E-Business</span>, <span class="nowrap">Enterprise Software</span>, <span class="nowrap">Computer Graphics</span>
            </small>
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <h3>🏢 Occupation</h3>
        <div class="vita-card">
          <span class="vita-card-time">2016 – present</span>
          <p>
            <a href="https://www.hqrevenue.com" target="_blank">HQ plus GmbH</a><br />
            Berlin (D)
          </p>
          <p>
            Web Application Developer<br />
            <small>
              Frontend Department<br />
              <span class="text-gray">-----</span><br />
              React, Redux, D3.js, TypeScript, express
            </small>
          </p>
        </div>
      </div>
    </div>
    <div class="vita-more" id="vita-button-more">
      <span class="toggle-icon">👇</span>
      <span class="more-label collapsed">Past</span>
      <span class="more-label expanded">TL;DR</span>
    </div>
    <div class="row hidden" id="vita-past">
      <div class="col-12 col-md-6">
        <h3 class="vita-more-heading">👨‍🏫 Education</h3>
        <div class="vita-card">
          <span class="vita-card-time">2014 – 2017</span>
          <p>
              <a href="https://beuth-hochschule.de" target="_blank">Beuth University of Applied Sciences</a><br />
            Berlin (D)
          </p>
          <p>
            Media Informatics<br />
            <small>Bachelor of Science</small>
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <h3 class="vita-more-heading">🏢 Occupation</h3>
        <div class="vita-card">
          <span class="vita-card-time">2014 – 2016</span>
          <p>
            <a href="https://disponio.com" target="_blank">disponio GmbH</a><br />
            Berlin (D)
          </p>
          <p>
            Website Developer<br />
            <small>
              WordPress Theme and Plugin Development, angular.js, Zend Framework
            </small>
          </p>
        </div>
        <div class="vita-card">
          <span class="vita-card-time">2012 – 2014</span>
          <p>
            <a href="https://www.conlabz.de" target="_blank">conlabz GmbH</a><br />
            Koblenz (D)
          </p>
          <p>
            Website Developer<br />
            <small>WordPress Theme and Plugin Development</small>
          </p>
        </div>
        <div class="vita-card">
          <span class="vita-card-time">2009 – 2014</span>
          <p>
            <a href="https://www.feuerfaden.de/" target="_blank">FEUEFERADEN Kommunikations-Design</a><br />
            Koblenz (D)
          </p>
          <p>
            Website Developer<br />
            <small>WordPress Theme and Plugin Development</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
